<%= form_for @author, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :age, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_dead, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_dead, :class => 'check_box' %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag nil, "Gatunki", :class => 'control-label' %>
    <div class="controls">
    <% for genre in Genre.all %>
      <label class="checkbox">  
        <%= check_box_tag "author[genre_ids][]", genre.id, @author.genres.include?(genre), :class => 'check_box' %>  
        <%= genre.name %>
      </label> 
    <% end %>
  </div> 

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                authors_path, :class => 'btn' %>
  </div>
<% end %>
